{% extends "layout.html" %}

{% block title %}
    Social App
{% endblock %}

{% block body %}

    <h2>Login</h2>

    <form method="post" action="">
        {% csrf_token %}
        {{form.username.label}}
        {{form.username}}

        {{form.password.label}}
        {{form.password}}
        <br>
        <input class="btn btn-primary" type="submit" value="Log In">
    </form>
    <br>
    {{ form.errors }}
    

    <a href="{% url 'reset_password' %}">Forgot password?</a>

    Don't have an account? <a href="{% url 'signup' %}">Sign up here.</a>

{% endblock %}